header{ 
 
    color: white;
    background : #159957;
    background-image: linear-gradient(120deg, #155799, #159957)
  
}
img{
        background: white;
        color: white;
     }
     h2{
        color: rgb(0, 128, 85);
        font: 2ex sans-serif;
        font-size: 3dvw;
     }
     h3{
        color: rgb(0, 128, 107);
        font: 2ex sans-serif;
        font-size: 2em;
     }
     h1{
         
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 50px;
        line-height: 1.5;
     }
   
        a{
        font: icon;
        font-size: 2rem;
         color: rgb(0, 81, 255);
        }
        h4{
            color: rgb(0, 128, 107);
        font: 2ex sans-serif;
        font-size: 2em;
        }
        table, th, td {
            border: 1px solid black;
          }
          h5{
          
        font-size: 2em;
        }

  
     
  
    


    